@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  background: linear-gradient(to right, #ffffff, #ffefba);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  width: 400px;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: #c5cae9;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  width: 75px;
  cursor: pointer;
}

.fav-meals li img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px 2px #3333331a;
}

.fav-meals li span {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.meal {
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  margin: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: rgba(201, 201, 201, 0.582);
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: #9499b7;
}

.popup-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 0 2rem;
  border-radius: 5px;
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.popup .close-popup {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.meal-info h1 {
  text-align: center;
}
